# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule Microsoft.Azure.Management.Containers.Api.Operation do
  @moduledoc """
  API calls for all endpoints tagged `Operation`.
  """

  alias Microsoft.Azure.Management.Containers.Connection
  import Microsoft.Azure.Management.Containers.RequestBuilder


  @doc """
  Lists all of the available Azure Container Registry REST API operations.

  ## Parameters

  - connection (Microsoft.Azure.Management.Containers.Connection): Connection to server
  - api_version (String.t): The client API version.
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %Microsoft.Azure.Management.Containers.Model.OperationListResult{}} on success
  {:error, info} on failure
  """
  @spec operations_list(Tesla.Env.client, String.t, keyword()) :: {:ok, Microsoft.Azure.Management.Containers.Model.OperationListResult.t} | {:error, Tesla.Env.t}
  def operations_list(connection, api_version, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/providers/Microsoft.ContainerRegistry/operations")
    |> add_param(:query, :"api-version", api_version)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%Microsoft.Azure.Management.Containers.Model.OperationListResult{})
  end

  @doc """
  Checks whether the container registry name is available for use. The name must contain only alphanumeric characters, be globally unique, and between 5 and 50 characters in length.

  ## Parameters

  - connection (Microsoft.Azure.Management.Containers.Connection): Connection to server
  - api_version (String.t): The client API version.
  - subscription_id (String.t): The Microsoft Azure subscription ID.
  - registry_name_check_request (RegistryNameCheckRequest): The object containing information for the availability request.
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %Microsoft.Azure.Management.Containers.Model.RegistryNameStatus{}} on success
  {:error, info} on failure
  """
  @spec registries_check_name_availability(Tesla.Env.client, String.t, String.t, Microsoft.Azure.Management.Containers.Model.RegistryNameCheckRequest.t, keyword()) :: {:ok, Microsoft.Azure.Management.Containers.Model.RegistryNameStatus.t} | {:error, Tesla.Env.t}
  def registries_check_name_availability(connection, api_version, subscription_id, registry_name_check_request, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/subscriptions/#{subscription_id}/providers/Microsoft.ContainerRegistry/checkNameAvailability")
    |> add_param(:query, :"api-version", api_version)
    |> add_param(:body, :body, registry_name_check_request)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%Microsoft.Azure.Management.Containers.Model.RegistryNameStatus{})
  end
end
