# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule Microsoft.Azure.Management.Authorization.Api.ProviderOperationsMetadata do
  @moduledoc """
  API calls for all endpoints tagged `ProviderOperationsMetadata`.
  """

  alias Microsoft.Azure.Management.Authorization.Connection
  import Microsoft.Azure.Management.Authorization.RequestBuilder


  @doc """
  Gets provider operations metadata for the specified resource provider.

  ## Parameters

  - connection (Microsoft.Azure.Management.Authorization.Connection): Connection to server
  - resource_provider_namespace (String.t): The namespace of the resource provider.
  - api_version (String.t): The API version to use for the operation.
  - opts (KeywordList): [optional] Optional parameters
    - :__expand (String.t): Specifies whether to expand the values.

  ## Returns

  {:ok, %Microsoft.Azure.Management.Authorization.Model.ProviderOperationsMetadata{}} on success
  {:error, info} on failure
  """
  @spec provider_operations_metadata_get(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, Microsoft.Azure.Management.Authorization.Model.ProviderOperationsMetadata.t} | {:error, Tesla.Env.t}
  def provider_operations_metadata_get(connection, resource_provider_namespace, api_version, opts \\ []) do
    optional_params = %{
      :"$expand" => :query
    }
    %{}
    |> method(:get)
    |> url("/providers/Microsoft.Authorization/providerOperations/#{resource_provider_namespace}")
    |> add_param(:query, :"api-version", api_version)
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%Microsoft.Azure.Management.Authorization.Model.ProviderOperationsMetadata{})
  end

  @doc """
  Gets provider operations metadata for all resource providers.

  ## Parameters

  - connection (Microsoft.Azure.Management.Authorization.Connection): Connection to server
  - api_version (String.t): The API version to use for this operation.
  - opts (KeywordList): [optional] Optional parameters
    - :__expand (String.t): Specifies whether to expand the values.

  ## Returns

  {:ok, %Microsoft.Azure.Management.Authorization.Model.ProviderOperationsMetadataListResult{}} on success
  {:error, info} on failure
  """
  @spec provider_operations_metadata_list(Tesla.Env.client, String.t, keyword()) :: {:ok, Microsoft.Azure.Management.Authorization.Model.ProviderOperationsMetadataListResult.t} | {:error, Tesla.Env.t}
  def provider_operations_metadata_list(connection, api_version, opts \\ []) do
    optional_params = %{
      :"$expand" => :query
    }
    %{}
    |> method(:get)
    |> url("/providers/Microsoft.Authorization/providerOperations")
    |> add_param(:query, :"api-version", api_version)
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%Microsoft.Azure.Management.Authorization.Model.ProviderOperationsMetadataListResult{})
  end
end
