# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule Microsoft.Azure.Management.Management.Api.CheckNameAvailability do
  @moduledoc """
  API calls for all endpoints tagged `CheckNameAvailability`.
  """

  alias Microsoft.Azure.Management.Management.Connection
  import Microsoft.Azure.Management.Management.RequestBuilder


  @doc """
  Checks if the specified management group name is valid and unique

  ## Parameters

  - connection (Microsoft.Azure.Management.Management.Connection): Connection to server
  - api_version (String.t): Version of the API to be used with the client request. The current version is 2018-01-01-preview.
  - check_name_availability_request (CheckNameAvailabilityRequest): Management group name availability check parameters.
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %Microsoft.Azure.Management.Management.Model.CheckNameAvailabilityResult{}} on success
  {:error, info} on failure
  """
  @spec check_name_availability(Tesla.Env.client, String.t, Microsoft.Azure.Management.Management.Model.CheckNameAvailabilityRequest.t, keyword()) :: {:ok, Microsoft.Azure.Management.Management.Model.CheckNameAvailabilityResult.t} | {:error, Tesla.Env.t}
  def check_name_availability(connection, api_version, check_name_availability_request, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/providers/Microsoft.Management/checkNameAvailability")
    |> add_param(:query, :"api-version", api_version)
    |> add_param(:body, :"checkNameAvailabilityRequest", check_name_availability_request)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%Microsoft.Azure.Management.Management.Model.CheckNameAvailabilityResult{})
  end
end
