# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule Microsoft.Azure.Management.Management.Api.Entities do
  @moduledoc """
  API calls for all endpoints tagged `Entities`.
  """

  alias Microsoft.Azure.Management.Management.Connection
  import Microsoft.Azure.Management.Management.RequestBuilder


  @doc """
  List all entities (Management Groups, Subscriptions, etc.) for the authenticated user. 

  ## Parameters

  - connection (Microsoft.Azure.Management.Management.Connection): Connection to server
  - api_version (String.t): Version of the API to be used with the client request. The current version is 2018-01-01-preview.
  - opts (KeywordList): [optional] Optional parameters
    - :__skiptoken (String.t): Page continuation token is only used if a previous operation returned a partial result.  If a previous response contains a nextLink element, the value of the nextLink element will include a token parameter that specifies a starting point to use for subsequent calls. 
    - :group_name (String.t): A filter which allows the call to be filtered for a specific group.
    - :cache_control (String.t): Indicates that the request shouldn&#39;t utilize any caches.

  ## Returns

  {:ok, %Microsoft.Azure.Management.Management.Model.EntityListResult{}} on success
  {:error, info} on failure
  """
  @spec entities_list(Tesla.Env.client, String.t, keyword()) :: {:ok, Microsoft.Azure.Management.Management.Model.EntityListResult.t} | {:error, Tesla.Env.t}
  def entities_list(connection, api_version, opts \\ []) do
    optional_params = %{
      :"$skiptoken" => :query,
      :"groupName" => :query,
      :"Cache-Control" => :headers
    }
    %{}
    |> method(:post)
    |> url("/providers/Microsoft.Management/getEntities")
    |> add_param(:query, :"api-version", api_version)
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%Microsoft.Azure.Management.Management.Model.EntityListResult{})
  end
end
