# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule Microsoft.Azure.Management.Network.Api.GeographicHierarchies do
  @moduledoc """
  API calls for all endpoints tagged `GeographicHierarchies`.
  """

  alias Microsoft.Azure.Management.Network.Connection
  import Microsoft.Azure.Management.Network.RequestBuilder


  @doc """
  Gets the default Geographic Hierarchy used by the Geographic traffic routing method.

  ## Parameters

  - connection (Microsoft.Azure.Management.Network.Connection): Connection to server
  - api_version (String.t): Client Api Version.
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %Microsoft.Azure.Management.Network.Model.TrafficManagerGeographicHierarchy{}} on success
  {:error, info} on failure
  """
  @spec geographic_hierarchies_get_default(Tesla.Env.client, String.t, keyword()) :: {:ok, Microsoft.Azure.Management.Network.Model.TrafficManagerGeographicHierarchy.t} | {:error, Tesla.Env.t}
  def geographic_hierarchies_get_default(connection, api_version, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/providers/Microsoft.Network/trafficManagerGeographicHierarchies/default")
    |> add_param(:query, :"api-version", api_version)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%Microsoft.Azure.Management.Network.Model.TrafficManagerGeographicHierarchy{})
  end
end
